
- if open
  - diary.comments.each do |comment|
    .alert.alert-success.border-success
      %span
        - if comment.user.picture.present?
          = image_tag comment.user.picture.url(:icon)
        %strong= comment.user.nickname
        = comment.created_at.strftime('%Y/%m/%d %H:%M')
      %pre{style: 'background-color: transparent;'}
        = comment.content
  - if user_signed_in?
    = form_with model: Comment.new, remote: true do |f|
      .field
        = f.hidden_field :diary_id, value: diary.id, id: ''
        = f.text_area :content, size: "50x2", class: 'form-control', id: ''
        = f.submit 'コメントする', class: 'btn btn-info'
