.form-inputs
  #card-number.stripe-input
  #card-expiry.stripe-input
  #card-cvc.stripe-input
  #stripe_err{ role: 'alert' }
  = simple_form_for(@user, url: register_card_user_path, html: { method: :post, id: 'card-form' }) do |f|
    = f.error_notification
    = hidden_field_tag :stripe_token
    = hidden_field_tag :redirect_url, redirect_url
    .form-actions
      = f.button :submit, '登録', class: 'btn btn-primary stripe-submit'
%script{src: 'https://js.stripe.com/v3/'}
:javascript
  var stripe = Stripe("#{Rails.configuration.stripe[:publishable_key]}");
  var elements = stripe.elements();
  var style = {
    base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSize: '16px'
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };
  var confirmStripeError = function(event){
    if (event.error) {
      $('#stripe_err').text(event.error.message);
      return false;
    } else {
      $('#stripe_err').text('');
      return true;
    }
  }
  $(function(){
    const cardNumber = elements.create('cardNumber', {style: style, placeholder: 'カード番号 1111 1111 1111 1111'});
    cardNumber.mount('#card-number');
    cardNumber.addEventListener('change', confirmStripeError);
    const cardExpiry = elements.create('cardExpiry', {style: style, placeholder: '有効期限　MM/YY'});
    cardExpiry.mount('#card-expiry');
    cardExpiry.addEventListener('change', confirmStripeError);
    const cardCvc = elements.create('cardCvc', {style: style, placeholder: 'セキュリティ番号'});
    cardCvc.mount('#card-cvc');
    cardCvc.addEventListener('change', confirmStripeError);

    var $form = $('#card-form');
    $form.submit(function(event) {
      stripe.createToken(cardNumber).then(function(result) {
        if (confirmStripeError(result)) {
          $form.off('submit');
          $form.find('input[name="stripe_token"]').val(result.token.id);
          $form.submit();
        }
      });
      return false;
    });
  });
