.row
  .col-lg-8
    %h3 商品一覧
    %table.table.table-bordered
      %thead.thead-light
        %tr.text-center
          %th{ scope: 'col' } 商品名
          %th{ scope: 'col' } 単価
          %th{ scope: 'col' } 数量
          %th{ scope: 'col' } 価格

      %tbody
        - @order.order_items.each do |order_item|
          %tr
            %td.align-middle= order_item.item_name
            %td.align-middle.text-right= number_to_currency(order_item.price)
            %td.align-middle.text-right= order_item.quantity
            %td.align-middle.text-right= number_to_currency(order_item.price * order_item.quantity)
  .col-lg-4
    %h3 請求金額
    %table.table.table-bordered
      %thead.thead-light
        %tr
          %th 商品金額
          %td.text-right= number_to_currency(@order.item_price)
        %tr
          %th 代引き手数料
          %td.text-right= number_to_currency(@order.charge_price)
        %tr
          %th 送料
          %td.text-right= number_to_currency(@order.shipping_price)
        %tr
          %th 消費税
          %td.text-right= number_to_currency(@order.tax_price)
        %tr
          %th 合計金額
          %td.text-right= number_to_currency(@order.total_price)
        - if with_point_and_delivery
          %tr
            %th ポイント利用
            %td.text-right= number_to_currency(@order.point_price)
          %tr
            %th 請求金額
            %td.text-right= number_to_currency(@order.invoice_price)
- if with_point_and_delivery
  .row
    .col-lg-3
      %h3 配達希望日時
      %table.table.table-bordered
        %thead.thead-light
          %tr
            %th 配達希望日
            %td.text-center= @order.delivery_date.strftime('%Y/%m/%d')
          %tr
            %th 配達希望時間帯
            %td.text-center= @order.delivery_period.period_name
    .col-lg-9
      %h3 配達先
      %table.table.table-bordered
        %thead.thead-light
          %tr
            %th 郵便番号
            %td= @order.ship_zip
          %tr
            %th 住所
            %td= @order.ship_address
