-# frozen_string_literal: true
= simple_form_for(@admin, url: (@admin.new_record? ? admin_admins_path : admin_admin_path(@admin))) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :login_name
    - if @admin.new_record?
      = f.input :password, required: true
    - else
      = f.input :password, hint: '変更しないなら空欄にしてください'
    = f.input :admin_name
    = f.input :dspo

  .form-actions.text-center
    = f.button :submit, class: 'btn btn-primary'
