%h2 ショッピングカート
%h3 販売元業者：#{@cart_items.first.trader.trader_name}
%table.table.table-bordered
  %thead.thead-light
    %tr.text-center
      %th{ scope: 'col' } 商品名
      %th{ scope: 'col' } 商品画像
      %th{ scope: 'col' } 単価
      %th{ scope: 'col' } 数量
      %th{ scope: 'col' } 価格
      %th
  %tbody
    - @cart_items.each do |cart_item|
      %tr
        %td.align-middle= link_to cart_item.item.item_name, item_path(cart_item.item, trader_id: cart_item.trader)
        %td
          - if cart_item.item.picture.present?
            = link_to item_path(cart_item.item, trader_id: cart_item.trader) do
              .text-center= image_tag cart_item.item.picture.url(:thumb)
        %td.align-middle.text-right= number_to_currency(cart_item.item.price)
        %td.align-middle.text-center
          = form_with model: cart_item, local: true, method: :patch do |f|
            = f.select :quantity, cart_item.trader.item_stock_number_selection(cart_item.item_id), {}, id: nil
            = f.submit '', style: 'display: none;'
        %td.align-middle.text-right= number_to_currency(cart_item.item.price * cart_item.quantity)
        %td.align-middle.text-center= link_to '削除', cart_item, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: '削除してよろしいですか？' }
:javascript
  $(function(){
    $('select[name="cart_item[quantity]"]').change(function(){
      $(this).next('input').click();
    });
  });

.form-actions.text-center
  = link_to 'レジに進む', new_order_path, class: 'btn btn-primary btn-lg'

= link_to '商品一覧へ戻る', items_path, class: 'btn btn-outline-secondary'
