!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title さくらマーケット 
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag('application', media: 'all', 'data-turbolinks-track': 'reload') if Rails.env.production?
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{style: 'padding-top: 70px;'}
    .fixed-top
      %nav.navbar.navbar-expand-md.bg-mytop.navbar-dark.bg-success
        .container
          = link_to 'さくらマーケット', root_path, class: 'navbar-brand'
          %button.navbar-toggler{type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarNavDropdown', 'aria-controls': 'navbarNavDropdown', 'aria-expanded': false, 'aria-label': 'Toggle navigation'}
            %span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarNavDropdown
            %ul.navbar-nav.mr-auto
              %li.nav-item
                %a.nav-link{href: root_path}
                  日記を見る
              %li.nav-item
                %a.nav-link{href: items_path}
                  ショッピング
              - if user_signed_in?
                %li.nav-item
                  %a.nav-link.btn.page-link.text-primary.d-inline-block{href: cart_items_path}
                    ショッピングカート：
                    %span#cartItemCount
                      = current_user.cart_items.quantity
                    品
                %li.nav-item
                  %a.nav-link.btn.page-link.text-success.d-inline-block{href: coupons_path}
                    クーポン：
                    = current_user.coupon_point
                    ポイント
                %li.nav-item
                  %a.nav-link{href: orders_path}
                    購入履歴
            %ul.navbar-nav
              - if user_signed_in?
                %li.nav-item
                  %a.nav-link{href: edit_user_registration_path}
                    #{current_user.user_name} さん
                %li.nav-item
                  %a.nav-link{href: destroy_user_session_path, 'data-method': :delete}
                    ログアウト
              - else
                %li.nav-item
                  %a.nav-link{href: new_user_registration_path}
                    サインアップ
                %li.nav-item
                  %a.nav-link{href: new_user_session_path}
                    ログイン
    .container
      %header
        -if flash.notice
          %script{ type: 'text/javascript' }
            $(function(){ toastr.info('#{raw flash.notice}'); });
        -if flash.alert
          %script{ type: 'text/javascript' }
            $(function(){ toastr.warning('#{raw flash.alert}'); });
      = yield
      %footer
        .fixed-bottom.bg-mytop &copy; 2020
